<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title> HOME </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        body {
            background: -webkit-linear-gradient(left, #4c4d4f, #101213, #141515, #525455);
            background-size: 100%;
            height: 700px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background: -webkit-linear-gradient(left, #2c2d2e, #222528, #1d1d1e, #606163);
        }
        
        @keyframes blink {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                color: green;
            }
        }
    </style>
</head>

<body>
    <form action="homesubmit" method="GET">
        <center>
            <h1 style="color:white"><b>Books Available</b></h1>
        </center>
        <center>
            <p><b style="color:white">In the Library</b></p>
        </center>
        <div class="title-text ">
            <div class="title login "></div>
        </div>
        <div class="form-container ">
            <div class="form-inner ">
                <form action="homesubmit " method="GET " class="login ">
                    <div class="field ">
                        <center style="color:white">

                            <h5 style="text-align:center"><b>Basic Sciences & Humanities</b></h5>

                            <li>Engineering Mathematics</li>
                            <li>English for Engineers</li>
                            <li>Engineering Physics</li>
                            <br>

                            <h5><b>Electrical & Electronics</b></h5>
                            <li>Theory of Machines</li>
                            <li>Electrical Power Systems</li>
                            <li>Measurements and Instrumentation</li>
                            <br>
                            
                            <h5><b>Computer Science</b></h5>
                            <li>Database Management Systems</li>
                            <li>Software Engineering</li>
                            <li>Web Programming</li>
                            <br>

                            <h5><b>Electronics & Communication</b></h5>
                            <li>Analog Electronics</li>
                            <li>Digital Logic and Computer Design</li>
                            <li>Microprocessor and Microcontroller</li>
                            <br>

                            <h5><b>Autobiographies</b></h5>
                            <li>Wings of Fire</li>
                            <li>Dreams from my Father</li>
                            <li>The Story of My Life</li>

                        </center>


                </form>
</body>

</html>